<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <div class="row">
        <div class="col-xs-12 col-sm-10">
          <h2><%= @article.title %><br><small><%= @article.author %></small></h2>
          <hr>
        </div>
        <div class="col-xs-12 col-sm-2">
          <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
          <p><%= l @article.updated_at, format: :long %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-justify">
            <%= @article.content %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Back', articles_path, class: 'btn btn-default' %>
  </div>
</div>
